<div class="ui card" id ="{{name}}">
  <div class="image">
    <img src="{{image}}">
  </div>
  <div class="content">
    <a class="header">{{fullname}}</a>
    <div class="meta">
      <span class="date">Joined in {{joined}}</span>
    </div>
    <div class="description">
      {{name}} is {{job}} in {{city}}
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      {{friends}} Friends
    </a>
  </div>
    <div class="social content">
    <a>
      <button class="ui facebook button">
  <i class="facebook icon"></i>
  Facebook
</button>
 <button class="ui linkedin button">
  <i class="linkedin icon"></i>
  LinkedIn
</button>
    </a>
  </div>
</div>